body{
	padding-top: 44px;
}
.add{
	width: 100%;
	min-width: 350px;
	height: 52px;
	background-color: rgb(245, 245, 247);
	display: flex;
	align-items: center;
	justify-content: center;
}
.ad{
	width: 980px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ad-title{
	color: rgb(29, 29, 31);
	font-size: 14px;
}
.ad-goumai{
	font-size: 14px;
	color: rgb(0, 102, 204);
}
.concent{
	width: 100%;
	height: 624px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(../img/big.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 624px ;
	padding-top: 10px;
}
.red-apple{
	background-image: url(../img/red-apple.png);
	width: 71px;
	height: 88px;
	background-size: 71px 88px;
	background-repeat: no-repeat;
}
.concent-title{
	font-size: 48px;
	font-weight: 600;
	padding-top: 20px;
}
.concent-xuangou{
	font-size: 21px;
	color:rgb(0, 102, 204);
	text-decoration: none;
	margin-top: 16px;
}
@media all and (max-width:1000px) {
	.concent{
		background-image: url(../img/medium.jpg);
	}
	
	.concent-title{
		font-size: 44px;
		line-height: 1.08349;
		font-weight: 600;
	}
	.red-apple{
		background-image: url(../img/red-apple-2.png);
		width: 55px;
		height: 67px;
		background-size: 55px 67px;
		background-repeat: no-repeat;
	}
	.concent-xuangou{
		font-size: 18px;
	}
	body .anian{
		background-image: url(../img/anian2.jpg);
	}
	.daoyan{
		font-size: 15px;
	}
	.name{
		font-size: 17px;
	}
	.anianimg{
		background-image: url(../img/chuanshuo2.png);
	}
	.photo{
		font-size: 27px;
	}
	.playmain a::after{
		content: "";
		width: 21px;
		height: 21px;
		right: -22px;
		top: -1px;
	}
	.appleui{
		margin-top:20px;
		width: 44px;
		height: 44px;
		background-image: url(../img/apple2.png);
		background-repeat: no-repeat;
	}
	
	
	
}
@media all and (max-width:767px) {
	.concent{
		background-image: url(../img/small.jpg);
	}
	.red-apple{
		background-image: url(../img/red-apple-3.png);
		width: 46px;
		height: 55px;
		background-size: 46px 55px;
		background-repeat: no-repeat;
	}
	.concent-title{
		font-size: 33px;
		line-height: 1.08349;
		font-weight: 600;
	}
	.concent-xuangou{
		font-size: 16px;
	}
	body .anian{
		background-image: url(../img/anian3.jpg);
	}
	body .anianmain{
		margin-left: 0;
	}
	.daoyan{
		font-size: 15px;
	}
	.name{
		font-size: 17px;
	}
	.anianimg{
		background-image: url(../img/chuanshuo3.png);
	}
	.photo{
		font-size: 27px;
	}
	.playmain a::after{
		content: "";
		width: 21px;
		height: 21px;
		right: -22px;
		top: -1px;
	}
	.appleui{
		margin-top:20px;
		width: 44px;
		height: 44px;
		background-image: url(../img/apple3.png);
		background-repeat: no-repeat;
	}
	
	
	
}

.anian{
	width: 100%;
	height: 624px;
	background-image: url(../img/anian1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}
.anianmain{
	width: 430px;
	height: 505px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 500px;
	margin-top: 50px;
}
.daoyan{
	color: #949494;
	font-weight: 500;
	font-size: 17px;
	font-style: normal;
}
.name{
	font-size: 20px;
	line-height: 1.4;
	color: #ffffff;
	font-weight: 600;
	display: block;
	text-align: center;
	margin: 20px 0 40px 0;
}
.anianimg{
	width: 270px;
	height: 183px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../img/chuanshuo1.png);
}
.photo{
	margin-top: 30px;
	font-size: 30px;
	color: #f5f5f7;
	font-weight: 600;
}
.playmain{
	margin-top: 20px;
	width: 300px;
	display: flex;
	align-items: center;
}
.playmain a{
	color: #f5f5f7;
	
	text-decoration: none;
	position: relative;
	margin: 0 20px;
}
.playmain a::after{
	content: "";
	width: 25px;
	height: 25px;
	display: inline-block;
	background-image: url(../img/play.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	right: -26px;
	top: -1px;
}
.appleui{
	margin-top:20px;
	width: 44px;
	height: 44px;
	background-image: url(../img/apple1.png);
	background-repeat: no-repeat;
}