@font-face {
  font-family: 'iconfont';  /* project id 2366961 */
  src: url('//at.alicdn.com/t/font_2366961_mpqk6t2k5zb.eot');
  src: url('//at.alicdn.com/t/font_2366961_mpqk6t2k5zb.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2366961_mpqk6t2k5zb.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2366961_mpqk6t2k5zb.woff') format('woff'),
  url('//at.alicdn.com/t/font_2366961_mpqk6t2k5zb.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2366961_mpqk6t2k5zb.svg#iconfont') format('svg');
}