* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: calc(100vw / 7.5);
}

body {
	font-size: 0.16rem;
}


.bg {
	background-image: url(../img/07bg.jpg);
	position: absolute;
	/* z-index: -1; */
	width: 7.5rem;
	height: 100vh;
	top: 0px;
	left: 0px;
	background-repeat: no-repeat;
	background-size: cover;
}

.top {
	height: 1.36rem;
	display: flex;
	font-family: PingFang-SC-Bold;
	font-size: 0.3rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #ffffff;
	align-items: center;
	justify-content: center;
	position: relative;
}

.fanhui {
	font-weight: bold;
	position: absolute;
	left: 0.44rem;
	top: 0.44rem;
}

.title {}

.logo {
	background-image: url(../img/07logo.png);
	width: 3.48rem;
	height: 3.48rem;
	background-size: cover;
	background-position: center;
	margin: 0.84rem auto 1.18rem auto;
}

.main {
	width: 6.58rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.maintitle {
	font-family: PingFang-SC-Bold;
	font-size: 0.45rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #ffffff;
	margin-bottom: 0.19rem;
}

.mainh1 {
	font-family: PingFang-SC-Medium;
	font-size: 0.3rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #ffffff;
	margin-bottom: 0.87rem;
}

.mainInput {
	width: 6.58rem;
	height: 0.94rem;
	background-color: #070a0c;
	outline: none;
	border: none;
	margin-bottom: 0.46rem;
}

.mainInput::placeholder {
	text-align: center;
	font-family: PingFang-SC-Medium;
	font-size: 0.3rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #ffffff;
}

.mainGet {
	width: 6.58rem;
	height: 0.95rem;
	background-image: linear-gradient(90deg,
		#e4035d 0%,
		#37adfd 100%);
	font-family: PingFang-SC-Bold;
	font-size: 0.42rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #ffffff;
	border-radius: 0.1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
