* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: calc(100vw / 7.5);
}

body {
	font-size: 0.16rem;
}

.bg {
	width: 7.5rem;
	height: 100vh;
	background-image: url(../img/02bg.jpg);
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

@media all and (min-width:700px) {
	.bg {
		width: 7.5rem;
		height: 100vh;
		background-image: url(../img/02bg.jpg);
		background-size: 100% auto;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.huanying {
	width: 7.5rem;
	height: 1.36rem;
	text-align: center;
	font-family: PingFang-SC-Bold;
	font-size: 0.3rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #ffffff;
	margin: 0 auto;
	padding-top: 0.75rem;
}

.shouji {
	width: 6.54rem;
	height: 11.52rem;
	background-image: url(../img/02手机.png);
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0.46rem auto;
}

.mask {
	width: 7.5rem;
	height: 4.34rem;
	background-color: #161e2a;
	position: absolute;
	bottom: 0;
	left: 0;
}

.wenzi {
	display: flex;
	flex-direction: column;
	width: 5.66rem;
	margin: 0 auto;
}

.xuexi {
	font-family: PingFang-SC-Bold;
	font-size: 0.42rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #ffffff;
	margin-top: 0.57rem;
}

.team {
	font-family: PingFang-SC-Medium;
	font-size: 0.26rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #ffffff;
	margin-top: 0.2rem;
	
}

.xiayibu {
	width: 5.66rem;
	height: 0.95rem;
	background-image: linear-gradient(90deg,
		#e4035d 0%,
		#37adfd 100%);
	border-width: 0.023rem;
	border-image-source: linear-gradient(90deg,
		#e4035d 0%,
		#37adfd 100%);
	border-image-slice: 1;
	font-family: PingFang-SC-Bold;
	font-size: 0.3rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0.29rem;
	border-radius: 0.2rem;
}
