* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: calc(100vw / 7.5);
}

body {
	font-size: 0.16rem;
}

.bg {
	width: 7.5rem;
	height: 100vh;
	background-image: url(../img/10bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0.8rem 2.81rem 0 0.46rem;
	position: fixed;
}

.logo {
	width: 2.36rem;
	height: 0.57rem;
	background-image: url(../img/10logo.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.item {
	height: 6.75rem;
	margin-top: 0.94rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.list-item {
	font-family: PingFang-SC-Medium;
	font-size: 0.3rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #ffffff;
}

.line {
	margin-top: 2.84rem;
	width: 3.76rem;
	height: 0.01rem;
	border-style: solid;
	border-width: 0.023rem;
	border-image-source: linear-gradient(90deg,
		#e4035d 0%,
		#37adfd 100%);
	border-image-slice: 1;
}
.logo-item{
	width: 3.67rem;
	margin-top: 0.35rem;
	display: flex;
	justify-content: space-around;
}
.logo-list{
	width: 0.53rem;
	height: 0.43rem;
	background-image: url(../img/10tuite.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.main{
	position: fixed;
	height: 100vh;
	width: 750rem;
	background-color: #333333;
	position: relative;
	transition: all 0.65s;
}
.main-menu{
	position: absolute;
	height: 1rem;
	width: 1rem;
	background-color: #00FFFF;
	left: 0.5rem;
	top: 0.5rem;
}
#mainchenck:checked~.main{
		transform: translate(4.69rem);
}
.ss{
	color: mediumspringgreen;
	font-size: 0.5rem;
	position: absolute;
	top: 5rem;
}