*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: calc(100vw / 3.75);
}
body{
	font-size: 0.13rem;
}
.top-nav{
	width: 3.75rem;
	height: 2.3rem;
	/* background-color: #00FFFF; */
	background-image: url(../img/backgroundimg.jpg);
	/* background-position: center; */
	background-size: cover;
	/* background-repeat: no-repeat; */
}
.warp{
	width: 3.75rem;
	height: 0.52rem;
	margin-bottom: 0.09rem;
}
.man{
	width: 0.5rem;
	height: 0.44rem;
	float: left;
	position: relative;
}
.man::after{
	content: "";
	width: 0.23rem;
	height: 0.23rem;
	background-image: url(../img/man.png);
	background-size: cover;
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	
}
.menu{
	width: 0.5rem;
	height: 0.44rem;
	float: right;
	position: relative;
}
.menu::after{
	content: "";
	width: 0.23rem;
	height: 0.23rem;
	background-image: url(../img/menu.png);
	background-size: cover;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
}
.logo{
	width: 3.75rem;
	height: 0.87rem;   /* 1.17rem */
}
.logoimg{
	margin: 0 auto;
	width: 1.8rem;
	height: 0.57rem;
	background-image: url(../img/title.png);
	background-size: cover;
}
.formdiv{
	width: 3.75rem;
	height: 0.51rem;
}
.form{
	width: 3.41rem;
	height: 0.49rem;
	margin: 0 auto;
	position: relative;
	box-shadow: #F0F8FF;
}
.input{
	width: 2.43rem;
	height: 0.49rem;
	font-size: 0.18rem;
	padding-left: 0.1rem;
/* 	border-radius: 10%;
	border-top-right-radius: 0%;
	border-bottom-right-radius: 0%; */
	outline: none;
	border: none;
	float: left;
}
.inputui{
	
	display: block;
	width: 0.77rem;
	height: 0.49rem;
	/* background-color: #000000; */
	position: absolute;
	right: 1rem;
	top: 0;
}
.inputicon{
	width: 0.29rem;
	height: 19rem;
	font-size: 0.18rem;
	line-height: 0.49rem;
	padding-right: 0.1rem;
}
.uifont{
	color: #e8e8e8;
}
.btn{
	width: 0.98rem;
	height: 0.49rem;
	background-color: #f5f7fb;
	color: #4e6ef2;
	border: none;
	font-weight: bolder;
	float: left;
}

.geceng{
	height: 0.1rem;
}
.concent{
	width: 3.75rem;
	height: 5rem;
	background-color: #f8f8f8;
}
.concent-tpl{
	display: block;
	text-decoration: none;
	width: 3.43rem;
	height: 0.6154rem;
	padding-bottom: 0.054rem;
	padding-top: 0.173rem;
	margin: 0 auto;
}
.concent-title{
	color: #333333;
	margin-bottom: 0.01rem;
	margin-top: -0.03rem;
	line-height: .24rem;
	font-size: 0.18rem;
}
.concent-foot{
	width: 3.43rem;
	height: 0.168rem;
	margin: 0 auto;
	color: #999;
}
.foot-hot{
	color: #ec4345;
	font-size: 0.13rem;
	margin-right: 0.08rem;
}